body {
    background-image: url("./images/parchment-background.jpg");
    background-size: cover;
}

@font-face {
    font-family: "steam";
    src: url("./fonts/Bleeding_Cowboys.ttf");
}

button {
   background-image: url("./images/parchment-link.jpg");
   background-size: cover;
   padding: 8px;
   color: black;
   font-family: 'Courier New', Courier, monospace;
   font-size: large;
   font-weight: bold;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.main-header {
    font-family: "steam";
}

.styled-modal-header {
    background-image: url("./images/parchment-link.jpg");
    background-size: cover;
}

.styled-modal {
    background-image: url("./images/parchment-background.jpg");
    background-size: cover;
}
.cropped {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.styled-form {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.styled-form-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}